.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
/*.php
/.htaccess
/themes/.htaccess
/images/.*
/files/.htaccess-dist
/themes/*
/textpattern/admin-themes/*
/textpattern/include/*
/textpattern/lang/*
/textpattern/lib/*
/textpattern/publish/*
/textpattern/update/*
/textpattern/vendors/*
/textpattern/setup/*.default-dist.json
/textpattern/setup/*.php
/textpattern/setup/lang/*
/textpattern/setup/themes/four-point*
/textpattern/setup/themes/zero
/textpattern/*.php
/textpattern/*.txt
/textpattern/*.ini
/textpattern/*.js
*~

